@import "tailwindcss";

html, body {
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove default margin */
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}
